<div>
<!-- partials/Admin.html -->
<!-- <md-content layout="column" flex  class="md-padding"> -->
<h1>Admin</h1>
<hr>
<!-- <md-list>
<md-list-item controller="BasicDemoCtrl as ctrl" class="menudemoBasicUsage">
<md-menu>
<md-menu-content width="4" class="">
 -->								<!-- <md-menu-item>
									<a><md-button class=" md-primary md-tab" ng-click="vm.goThere()"><span md-menu-align-target>Update Password</span>
									</md-button></a>
									
								</md-menu-item> -->
								<!-- <md-divider ></md-divider> -->
							<div layout="row">
								 <div id="submenu" flex="20" layout-align="center center" controller="BasicDemoCtrl as ctrl" class="menudemoBasicUsage" layout="column">
									
										<md-button class="md-primary  md-raised" ng-click="toggleSidenav('right')">
											<span md-menu-align-target>File Maintenance </span>
										</md-button>
										
								</div>
								<div class="bottom-sheet-demo inset "  layout="column" flex="20" layout-align="center center" layout-sm="column" layout-align="center" >
									<md-button flex="10" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
										<script type="text/ng-template" id="bottom-sheet-grid-template.html">
											<md-bottom-sheet class="md-grid md-has-header">
												<md-list>
													<md-list-item ng-repeat="item in items">
														<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
															<md-icon md-svg-src="{{item.icon}}"></md-icon>
															<div class="md-grid-text"> {{ item.name }} </div>
														</md-button>
													</md-list-item>
												</md-list>
											</md-bottom-sheet>
										</script> 
									</md-button>
								</div>
							</div>
								<!-- <md-menu-item id="submenu" controller="BasicDemoCtrl as ctrl" class="menudemoBasicUsage">
									<md-menu md-offset="200 0">
										<a><md-button class="md-primary" ng-click="$mdOpenMenu()">
											<span md-menu-align-target>Admin Only >></span>
										</md-button></a>
										<md-menu-content width="4" >
											<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Blackberry Center</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>Delmar Promo Give-away FM</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Program Admin</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>Role Admin</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Sailing Schedule</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>User Admin</span>
													</md-button>
												</md-menu-item>
												
										</md-menu-content>
									</md-menu> 
								</md-menu-item>
							</md-menu-content> -->
	<!-- </md-menu>
	</md-list-item>
	</md-list> -->
<!-- </md-content> -->
</div>
<div layout="column" layout-sm="column">
					<div>
						<md-content  layout-padding style="padding:24px" >
							<md-tabs md-dynamic-height md-border-bottom flex offset="5">
								
								<md-tab label="Admin only">
									
									<!-- <md-content  layout="column" class="md-padding" >
									
										<h1 class="intro2">Admin Only</h1>
										
										<div layout="row">
											<md-menu-content width="4" >
											<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Blackberry Center</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>Delmar Promo Give-away FM</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Program Admin</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>Role Admin</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
												<md-button class="md-accent md-hue-3 md-tab" ng-click="ctrl.redial($event)">
													<span md-menu-align-target="">Sailing Schedule</span>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button class="md-accent md-hue-3 md-tab" ng-click="vm.goThere()">
														<span md-menu-align-target>User Admin</span>
													</md-button>
												</md-menu-item>
												
										</md-menu-content>
										
										</div>
										
									</md-content>	 -->	
										<div layout="row" layout-sm="column" layout-md="column" layout-wrap style="padding-bottom: 32px;">
	<div flex>	
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
			<span>Blackberry Center</span>
			</md-button>
			</md-whiteframe>
	</div>
	<div flex>	
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
				<span>Delmar Promo Give-away FM</span>
			</md-button>
			</md-whiteframe>
	</div>
	<div flex>
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
				<span>Program Admin</span>
			</md-button>
			</md-whiteframe>
	</div>
	<div flex>
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
				<span>Role Admin</span>
			</md-button>
			</md-whiteframe>			
	</div>
	

	<div flex>
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
				<span>Sailing Schedule</span>
			</md-button>
			</md-whiteframe>
	</div>
	<div flex>
			<!-- <md-button class="md-primary md-hue-3 md-raised" ng-click="vm.goThere()"> -->
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			<md-button  class="md-raised" ng-click="vm.goThere()">
				<span>User Admin</span>
			</md-button>
			</md-whiteframe>
	</div>
	
	
</div>
									
								</md-tab>
								<md-tab label="update password">
									<md-content  layout="column"  class="md-padding" >
										<h1 class="intro2">Update Password</h1>
										<div ng-controller="AppCtrlDelmar" layout="row" flex>
											<md-content>
											
											</md-content>
										</div>
									</md-content>
								</md-tab>
							</md-tabs>
						</md-content>
					</div>
<div>
			<!-- 	<md-content layout="row" flex="40" ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage">	
					<div class="bottom-sheet-demo inset "  layout-sm="column" layout-align="center" >
						
					<md-button flex="10" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
					<script type="text/ng-template" id="bottom-sheet-grid-template.html">
					<md-bottom-sheet class="md-grid md-has-header">
						<md-list>
							<md-list-item ng-repeat="item in items">
								<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
									<md-icon md-svg-src="{{item.icon}}"></md-icon>
									<div class="md-grid-text"> {{ item.name }} </div>
								</md-button>
							</md-list-item>
						</md-list>
					</md-bottom-sheet>
					</script> 
					</md-button>
					</div>
					
					<div ng-if="alert">
						<br/>
						<b layout="row" layout-align="center center" class="md-padding">
							{{alert}}
						</b>
					</div>
			</md-content> -->
			</div> 
</div>