<div>
<!-- partials/Delcrm.html -->

<h1>Delcrm</h1>
<hr>
<div layout="row">
<div layout-sm="column" layout="column" layout-align="center center">
<a href="https://crm.delmarcargo.com/index.php?action=Login&module=Users" target="_blank">
								<md-button class="md-primary md-raised" ng-click="vm.goThere()">
									<span md-menu-align-target>DelCRM</span>
								</md-button>
								</a>
</div>
<div layout-sm="column" layout="column" layout-align="center center">
<a href="https://crm.delmarcargo.com/index.php?action=Login&module=Users" target="_blank">
								<md-button class="md-primary md-raised" ng-click="vm.goThere()">
									<span md-menu-align-target>DelCRM Portal</span>
								</md-button>
								</a>
</div>
<div layout-sm="column" layout="column" layout-align="center center">
				<div  ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage">	
					<div class="bottom-sheet-demo inset "  layout-sm="column" layout-align="center center" >
						
					<md-button flex="10" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
					<script type="text/ng-template" id="bottom-sheet-grid-template.html">
					<md-bottom-sheet class="md-grid md-has-header">
						<md-list>
							<md-list-item ng-repeat="item in items">
								<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
									<md-icon md-svg-src="{{item.icon}}"></md-icon>
									<div class="md-grid-text"> {{ item.name }} </div>
								</md-button>
							</md-list-item>
						</md-list>
					</md-bottom-sheet>
					</script> 
					</md-button>
					</div>
					
					
			</div>
			</div>
</div>

<div></div>

<div ng-controller="DemoCtrl" layout="column" layout-fill style="padding-bottom: 32px;">
	<md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
			<span><h3 class="md-flex">DelCRM Sales lead</h3></span>
	</md-whiteframe>
	<hr>
 
</div>
	
</div>