<div>
<!-- partials/Deldocs.html -->

<h1>DelDocs</h1>
<hr>
<!-- <md-list>
<md-list-item md-border-bottom controller="BasicDemoCtrl as ctrl" class="menudemoBasicUsage">
						<md-menu   md-position-mode="target-right target" md-offset="150 0">
					 
							
							<md-menu-content class="" width="3">
								<md-menu-item> -->
									<a href="http://docudel.delmar-group.com:8080/webtop/component/main?__dmfClientId=1440100829343&__dmfTzoff=240" target="_blank">
									<md-button class="md-primary md-raised" ng-click="vm.goThere()">
									<span md-menu-align-target>Content Management </span>
									</md-button>
									</a>
			<!-- 					</md-menu-item>
								<md-menu-item> -->
									<a href="https://eroom.delmar-group.com/eRoomASP/DlgChooseClient.asp" target="_blank">
									<md-button class="md-primary md-raised" ng-click="vm.goThere()">
									<span md-menu-align-target>eRoom</span>
									</md-button>
									</a>
									<div class="bottom-sheet-demo inset "  layout-sm="column" layout-align="center" >
						
									<md-button flex="10" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
										<script type="text/ng-template" id="bottom-sheet-grid-template.html">
											<md-bottom-sheet class="md-grid md-has-header">
												<md-list>	
													<md-list-item ng-repeat="item in items">
														<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
															<md-icon md-svg-src="{{item.icon}}"></md-icon>
															<div class="md-grid-text"> {{ item.name }} </div>
														</md-button>
													</md-list-item>
												</md-list>
											</md-bottom-sheet>
										</script> 
									</md-button>
									</div>
					
									
		<!-- <div>
				<md-content  layout="row" flex="40" ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage">	
					<div class="bottom-sheet-demo inset "  layout-sm="column" layout-align="center" >
						
					<md-button flex="10" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
					<script type="text/ng-template" id="bottom-sheet-grid-template.html">
					<md-bottom-sheet class="md-grid md-has-header">
						<md-list>
							<md-list-item ng-repeat="item in items">
								<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
									<md-icon md-svg-src="{{item.icon}}"></md-icon>
									<div class="md-grid-text"> {{ item.name }} </div>
								</md-button>
							</md-list-item>
						</md-list>
					</md-bottom-sheet>
					</script> 
					</md-button>
					</div>
					
					<div ng-if="alert">
						<br/>
						<b layout="row" layout-align="center center" class="md-padding">
							{{alert}}
						</b>
					</div>
			</md-content>
		</div> -->
			<!-- 					</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-list-item>
</md-list> -->
</div>