<div>
<!-- partials/HR.html -->
<h1>HR</h1>
<hr>

<div layout="row" layout-sm="column" layout-md="column" layout-wrap style="padding-bottom: 32px;">
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<a href="http://my.adp.ca/" target="_blank"><md-button  ng-click="vm.goThere()">
									<span>Employee Paystub Enquiry (ADP LOGIN)</span>
									</md-button></a>
								<!-- </md-whiteframe>			 -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<a href="http://registerme.adp.ca/essRegistration/Default.aspx" target="_blank">
									<md-button  ng-click="vm.goThere()">
									<span>Employee Paystub Registration (ADP LOGIN)</span>
									</md-button></a>
								<!-- </md-whiteframe>			 -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<a href="http://web-beta.medavie.bluecross.ca/fr/index" target="_blank"><md-button  ng-click="vm.goThere()">
									<span>Croix Bleue</span>
									</md-button></a>
								<!-- </md-whiteframe>			 -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<md-button  ng-click="vm.goThere()">
									<span>Blue Cross</span>
									</md-button>
								<!-- </md-whiteframe>		 -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<md-button  ng-click="vm.goThere()">
									<span>Office List</span>
									</md-button>
								<!-- </md-whiteframe>			 -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<md-button  ng-click="vm.goThere()">
									<span>Job Opening(s)</span>
									</md-button>
								<!-- </md-whiteframe> -->
							</div>
							<div flex>
								<!-- <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> -->
									<md-button  ng-click="vm.goThere()">
									<span>Staff Search</span>
									</md-button>
								<!-- </md-whiteframe>			 -->
							</div>
			</div>
	<div>			
					<md-button flex="20" class="md-primary md-raised" ng-click="showGridBottomSheet($event)" md-whiteframe-z2>Today's Holidays
					<script type="text/ng-template" id="bottom-sheet-grid-template.html">
					<md-bottom-sheet class="md-grid md-has-header">
						<md-list>
							<md-list-item ng-repeat="item in items">
								<md-button class="md-grid-item-content" ng-click="gridItemClick($index)">
									<md-icon md-svg-src="{{item.icon}}"></md-icon>
									<div class="md-grid-text"> {{ item.name }} </div>
								</md-button>
							</md-list-item>
						</md-list>
					</md-bottom-sheet>
					</script> 
					</md-button>
		
			</div>
</div>