<!DOCTYPE html>
<html lang="en", ng-app="DelmarApp" class="qp-ui" data-qp-ui="{ 'Futurizr':{ 'hasTouch': 'touch'}}"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Delmar Extranet</title>
        <meta name="description" content="Selecting the most efficient and cost effective transportation option can be challenging. At Delmar, we work with you to create solutions that are flexible and result in the most highly reliable and customizable service in the industry. ">
        <meta name="keywords" content="Margarita Mayoral Villa, Adriana Molano, Bita Jarrah, Delmar Extranet Angularjs, Angular Material">
		<meta name="author" content="Margarita Mayoral Villa, Adriana Molano, Bita Jarrah"/>
		<meta name="format-detection" content="telephone=no"/>
		<meta name="robots" content="index, follow"/>
		
		
		<!-- build:css({.tmp,app}) css/main.css -->				
		<link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.css">
		<link rel="stylesheet" href="https://www.delmarcargo.com/css/bootstrap.css" type="text/css" media="screen">
		<link rel="stylesheet" href="https://www.delmarcargo.com/css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="https://www.delmarcargo.com/css/elements.css" type="text/css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"/>
		<link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		
		<!-- Angular Material Dependencies --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
		<script src="https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_embed.js"></script>
		
		
		<script src="js/DelmarcargoApp.js"></script>
		<script src="js/DelmarControllers.js"></script>
		<script src="js/MainSidenavService.js"></script>
		<script src="js/MainToolsCtrl.js"></script>
		<script src="js/ThemingProvider.js"></script>
		<script src="js/stateprovider.js"></script> 
		<script src="js/RunState.js"></script>
		<script src="js/RightCtrlSidenav.js"></script> 
		<script src="js/googleLoad.js"></script>
		<script src="js/googleFeedsNews.js"></script>
		<script src="js/BottomSheetCtrl.js"></script>
		<script src="js/TableCtrl.js"></script>
		<script src="js/PolicyCtrl.js"></script>
		<script src="js/newsFeedCtrl.js"></script>
		
    </head>
	
	
    <body layout="column" ng-controller="AppCtrlDelmar" class="section-material-design md-accent qp-ui qp-ui-mask">
		
		<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="docs-assets/js/ie8-responsive-file-warning.js"></script>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		</a></div>  
		<![endif]-->
		<!--[if IE]> <link rel="stylesheet" type="text/css" href="all-ie-only.css" /> <![endif]-->
		<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
		<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
		<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
		<!--[if gt IE 8]><!--> 
		<!--<![endif]-->
	
		
		<!-- main menu -->
		<div layout="column" >
			<md-toolbar layout="row" flex layout-align="center center" class="md-hue-1 md-tall md-whiteframe-z1">
				<div flex hide-gt-md show-md ng-controller="MainToolsCtrl" style="font-size:13px; padding:0px 12px 55px 0px;">
					<md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-fab md-accent d-avatar">
						<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
					</md-button>
					<span hide-sm style="font-size:13px; padding:50px 0px 0px 15px;">Menu</span>
				</div>
				<div layout="column" flex="20" hide-sm hide-md>
					<div layout="row" layout-align="center center">
						<h1   class="md-toolbar-tools"><a href="index.html"><img src="https://www.delmarcargo.com/img/delmarcargo_logo_2x.png" alt="" width="230" height="50"></a></h1>
					</div>
				</div>
				<div flex="60" flex-sm="65" flex-md="80" layout="column" layout-align="center center">
						<div hide-gt-md layout="row" layout-align="center center">
							<h1   class="md-toolbar-tools"><a href="index.html"><img src="https://www.delmarcargo.com/img/delmarcargo_logo_2x.png" alt="" width="205" height="45"></a></h1>
						</div> 
						<div layout="row" hide-md  hide-sm ng-controller="MainToolsCtrl" layout-align="center center"  style="padding-bottom: 10px;">
							<md-menu-bar  layout-align="space-between center" md-selected="selectedIndex">
								<md-menu  layout-align="space-between"  ng-repeat="it in maintools"  label="{{it.name}}" ui-sref="{{it.name}}" ui-sref-active="active">			
									<md-button layout-align="space-between center"  class="d-button-menu" md-border-bottom ng-click="selectMaintool(it)" ng-class="{'selected' : it === selected}">
										{{it.name}}
										<img src="Icon/down.png" width="13" height="13">
									</md-button>
								</md-menu>
							</md-menu-bar>
						</div>
				</div>
				<div flex="20" layout="column" class="md-menu-demo" layout-align="center left">
						<div layout="row" hide-md  hide-sm class="menu-demo-container">
							<div flex="30" layout="row">
							<md-menu-bar>
								<md-menu md-position-mode="target-right target" md-offset="0 50">
									<button class="d-button-menu md-accent" ng-click="$mdOpenMenu()">
										Language <img src="Icon/down.png" width="10" height="10">
									</button>
									<md-menu-content width="2">
										<md-menu-item>
											<md-button class="d-button-menu" aria-label="NewsChinese" layout-align="center center" ui-sref="NewsChinese" ui-sref-active="active">
												Chinese
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button class="d-button-menu" aria-label="News" layout-align="center center" ui-sref="News" ui-sref-active="active">
												English
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button class="d-button-menu" aria-label="NewsFrench" layout-align="center center" ui-sref="NewsFrench" ui-sref-active="active">
												French
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button class="d-button-menu" aria-label="NewsPortuguese" layout-align="center center" ui-sref="NewsPortuguese" ui-sref-active="active">
												Portuguese
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button class="d-button-menu" aria-label="NewsSpanish" layout-align="center center" ui-sref="NewsSpanish" ui-sref-active="active">
												Spanish
											</md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>
							</md-menu-bar>
							</div>
							<div layout="row" flex="70">
							<input type="text" ng-model="search2" ng-change="change()" onclick="select()" class="form-control d-search-placeholder"  placeholder="Search"  />
							<span hide-md class="input-group-addon d-search"><i class="glyphicon glyphicon-search" style="color:white;"></i></span>	
							</div>
						</div>
						<div layout="row" layout-align-sm="left" style="margin: 0px 0px 0px 0px;">
							<div flex="30" hide-sm></div>
							<div flex="70">
							<a class="d-button-menu" href="" target="_blank">
								<md-button  class="md-fab md-accent d-avatar" aria-label="user">
									<md-icon md-svg-icon="Icon/White/user73.svg"></md-icon>
								</md-button>
									<span hide-sm hide-md>	Welcome John Smith </span>
								<md-button  class="d-button-menu md-accent" ng-click="vm.goThere()">
									<span hide-sm>Sign out</span>
								</md-button>
							</a>
							</div>
						</div>
				</div>					
				
			</md-toolbar>
			<div  hide-gt style="font-color: white" hide-gt-md layout="column" flex class="content-wrapper md-accent md-hue-3" ng-controller="MainToolsCtrl">
				<md-sidenav   layout="column" class=" md-whiteframe-z1 md-hue-1 md-accent" md-component-id="left" >
					<md-list class="md-accent md-hue-2" layout-align="center center" >
						<md-list-item layout-align="center center">
						<md-button style="color:black;" layout-align="center center" ng-click="close()" class="md-warning" hide-gt-md>
						Close
						</md-button>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item layout-align="center center" ng-repeat="it in maintools">
							<md-item-content>
								<a  style="color:black;" ui-sref="{{it.name}}" ui-sref-active="active">
								<md-button  class="" ng-click="selectMaintool(it)" ng-class="{'selected' : it === selected}">
								{{it.name}}
								</md-button></a>
								<md-divider ng-if="!$last"></md-divider>
							</md-item-content>
						</md-list-item>
							<md-divider></md-divider>
							<md-divider ></md-divider>
					</md-list>
				</md-sidenav>
			</div>
			<!-- End main menu -->
			<!-- partials views -->
			<div layout="row" flex layout-align="center center">
				<div layout="column"  selected="{{selected.name}}" style=" text-align: center; font-size: 8px; ">
						<div ui-view ></div>
				</div>
			</div>
			<!--End partials views -->
        </div>
	
    </body>
</html>
