<div>
<!-- partials/News/Policy.html -->
	<div layout="row" ng-controller="PolicyCtrl" flex>
		<div layout="column" flex="20">
		</div>
		<div layout="column" hide-sm layout-align="space-around" style="font-size: 15px; margin: 20px 30px 50px 90px;" layout-align="center center" class="d-note-background md-hue-1">
				<div layout="row" layout-align="center center" >
					<h1 Style="color:white">Policy & Procedure</h1>
					
				</div>
				<md-divider ></md-divider>
				<div style="font-size: 15px; margin: 50px 0px 0px 0px; color:white;" ng-controller="AppCtrlDelmar" layout="row" layout-align="center center" layout-align="space-around" layout-fill flex class="md-accent">
						<md-list layout-fill class="md-accent">
							<md-list-item  ng-repeat="item in policies | filter:query | orderBy:orderProp">
								<div class="md-list-item-text" layout="column" flex="15">
								<p>{{ item.date }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column" flex="40">
								<p>{{ item.subject }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column" flex="20">
								<p>{{ item.categories }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column"flex="10">
								<p>{{ item.region }}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
							</md-list-item>
							<md-divider ></md-divider>
							<md-divider ></md-divider>
						</md-list>
				</div>
		</div>
	</div>
	<!-- <div layout="row" layout-md="column">
		<div layout="row"  layout-align="center center">
			<div layout="column"   layout-align="space-around" style="font-size: 15px; margin-top: 20px" layout-align="center center" class="d-note-background md-hue-1">
				<div layout="row" layout-align="center center" >
					<h1 Style="color:white">Policy & Procedure</h1>		
				</div>
				<md-divider ></md-divider>
				<div style="font-size: 10px; margin: 20px 0px 0px 0px; color:white;" ng-controller="AppCtrlDelmar" layout="row" layout-align="center center" layout-align="space-around" layout-fill flex class="md-accent">
					<md-list>
						<md-list-item  ng-repeat="item in policies | filter:query | orderBy:orderProp">
							<div class="md-list-item-text" layout="column" flex="15">
								<p>{{ item.date }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column" flex="40">
								<p>{{ item.subject }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column" flex="20">
								<p>{{ item.categories }}</p>
							</div>
							<div>   </div>
							<div class="md-list-item-text" layout="column"flex="10">
								<p>{{ item.region }}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
						<md-divider ></md-divider>
						<md-divider ></md-divider>
					</md-list>
				</div>
				
			</div>
		</div>
	</div> -->
</div>
<!-- <md-content  layout="column" class="md-padding" >
										<h1 class="intro2">Policy & Procedure</h1>
										
										<div layout="row">
										<div ng-controller="AppCtrlDelmar as ctrl3" layout="row">
											<md-content flex-order="1"  class="md-padding">
												<form ng-submit="$event.preventDefault()">
													
														<md-autocomplete
															ng-disabled="ctrl.isDisabled"
															md-no-cache="ctrl.noCache"
															md-selected-item="ctrl.selectedItem"
															md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
															md-search-text="ctrl.searchText"
															md-selected-item-change="ctrl.selectedItemChange(item)"
															md-items="item in ctrl.querySearch(ctrl.searchText)"
															md-item-text="item.display"
															md-min-length="0"
															placeholder="Country">
															<md-item-template>
																<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
															</md-item-template>
															<md-not-found>
																No matches found for "{{ctrl.searchText}}".
															</md-not-found>
														</md-autocomplete>
														<br/>
												</form>
											</md-content>
										</div> 
										<div ng-controller="AppCtrlDelmar as ctrl4" layout="row">
											<md-content flex-order="1"  class="md-padding">
												<form ng-submit="$event.preventDefault()">
													
														<md-autocomplete
															ng-disabled="ctrl.isDisabled"
															md-no-cache="ctrl.noCache"
															md-selected-item="ctrl.selectedItem"
															md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
															md-search-text="ctrl.searchText"
															md-selected-item-change="ctrl.selectedItemChange(item)"
															md-items="item in ctrl.querySearch(ctrl.searchText)"
															md-item-text="item.display"
															md-min-length="0"
															placeholder="Categories">
															<md-item-template>
																<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
															</md-item-template>
															<md-not-found>
																No matches found for "{{ctrl.searchText}}".
															</md-not-found>
														</md-autocomplete>
														<br/>
												</form>
											</md-content>
										</div>
										</div>
										<div ng-controller="PolicyCtrl" layout="row">
											<md-content>
												<div layout="row">
													<md-content flex-order="1"  class="md-padding">
													<form name="autocompleteForm">
														<md-item-template md-whiteframe-z2>
														<span><input ng-model="query" placeholder="Search"></span>
														Sort by:
														<select ng-model="orderProp">
															<option value="date">Date</option>
															<option value="categories">Categories</option>
															<option value="region">Region</option>
														</select>
														</md-item-template>
														<div ng-messages="autocompleteForm.autocomplete.$error">
															<div ng-message="required">This field is required</div>
														</div>
													</form>
													</md-content>
												</div>
												<md-list>
													<md-list-item class="md-grid-item-content" ng-repeat="item in policies | filter:query | orderBy:orderProp">
														<div class="md-list-item-text" layout="column" flex="15">
															<p>{{ item.date }}</p>
														</div>
														<div>   </div>
														<div class="md-list-item-text" layout="column" flex="40">
															<p>{{ item.subject }}</p>
														</div>
														<div>   </div>
														<div class="md-list-item-text" layout="column" flex="20">
															<p>{{ item.categories }}</p>
														</div>
														<div>   </div>
														<div class="md-list-item-text" layout="column"flex="10">
															<p>{{ item.region }}</p>
														</div>
														<md-divider ng-if="!$last"></md-divider>
													</md-list-item>
													<md-divider ></md-divider>
													<md-divider ></md-divider>
												</md-list>
											</md-content>
										</div>
									</md-content>									
								</md-tab>
							</md-tabs>
						</md-content>
	 -->